- var scripts = getBlock("scripts")
- var styles = getBlock("styles")

- scripts.add(site.scripts)
- styles.add(site.styles)

doctype 5
html(lang="en")
	head

		meta(charset="utf-8")
		meta(http-equiv="content-type" content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

		title= getPreparedTitle()
		meta(name="description" content=getPreparedDescription())
		meta(name="keywords" content=getPreparedKeywords())
		meta(name="author" content=site.author || '')

		//- DocPad meta output
		!= getBlock("meta").toHTML()

		//- Mobile viewport optimized: h5bp.com/viewport
		meta(name="viewport" content="width=device-width")

		//- Icons
		link(rel="shortcut icon" href="/images/icons/favicon.ico")
		link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/icons/apple-touch-icon-144-precomposed.png")
		link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/icons/apple-touch-icon-114-precomposed.png")
		link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/icons/apple-touch-icon-72-precomposed.png")
		link(rel="apple-touch-icon-precomposed" href="/images/icons/apple-touch-icon-57-precomposed.png")

		//- Styles
		!= getBlock("styles").add(site.styles).toHTML()

	body

		!= content

		footer
			nav.navbar.navbar-inverse.navbar-fixed-bottom
				.container-fluid
					.row
						.col-xs-10.col-xs-offset-1
							p.pull-left
								| &copy; 
								!= site.author
								| 
								!= (new Date()).getFullYear()
							p.pull-right.hidden-xs
								| Last updated at 
								!= site.date.toLocaleDateString()
							p.text-center.hidden-xs
								| Powered by 
								a(href="http://nodejs.org") Node.js
								| , 
								a(href="http://docpad.org") DocPad
								| , 
								a(href="http://getbootstrap.com") Bootstrap
								| , 
								a(href="http://nginx.org") nginx

		a.hidden-xs(href="https://github.com/imadalin")
			img.github-fork-me( src="https://camo.githubusercontent.com/8b6b8ccc6da3aa5722903da7b58eb5ab1081adee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png")
		!= getBlock("scripts").add(site.scripts).toHTML()